certifi==2021.10.8
charset-normalizer==2.0.12
gmpy2==2.1.2
idna==3.3
lxml==4.8.0
mpmath==1.2.1
numpy==1.22.3
oauthlib==3.2.0
olefile==0.46
pandas==1.4.2
Pillow==9.1.0
py==1.11.0
pyshark==0.4.5
python-dateutil==2.8.2
python-dotenv==0.20.0
pytz==2022.1
requests==2.27.1
requests-oauthlib==1.3.1
reverse-geocoder==1.5.1
scipy==1.8.0
six==1.16.0
sympy==1.10.1
tweepy==4.9.0
urllib3==1.26.9
